.git
.gitmodules
.vscode
.idea
.DS_Store

node_modules
dist
dist-ssr
src-tauri/target
shadowsocks-rust/target
shadowsocks-rust/.git
target

*.log
*.local

src
public
src-tauri/src
src-tauri/icons
src-tauri/capabilities
src-tauri/Cargo.*
src-tauri/build.rs
src-tauri/tauri.conf.json
src-tauri/resources/plugins/v2ray-plugin/bin
src-tauri/resources/plugins/v2ray-plugin/v2ray-plugin
src-tauri/resources/plugins/v2ray-plugin/v2ray-plugin_*
